@import url(../base/style.css);
@import url(profile_header.css);
@import url(user_bar.css);
@import url(navigation.css);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400);

html {
   background: url(images/background.png) repeat fixed left top transparent;
}

body {
   background-color: transparent;
   font-family: 'Open Sans', sans-serif;
}

#theme-header{
   background: url("images/topo.gif") no-repeat scroll left top transparent;
   height: 40px
}

#wrap-2{
   background: url("images/topo2.gif") no-repeat scroll left top #FEFEFE;
}

#site-title {
   left: 10px;
   top: -31px;
}

#site-title a{
   background-image: url("images/marca-consultapublica.png");
   background-repeat: no-repeat;
   height: 90px;
   left: 0;
   top: 0;

}

#content {
   margin-top: 150px;
}

#content .box-2 #content .feed-reader-block, #content .recent-documents-block{
   overflow: visible;
}
#content .box-1{
   margin-left: 282px;
}
#content .box-2{
   width: 282px;
   background-color: #EFEFEF;
   margin-left: 15px;
   width: 250px;
}

#content .block {
  margin: 0px;
}
#content .block ul{
  list-style: none;
  text-align: justify;
  padding-left: 20px;
  padding-right: 5px;
}

#content .box-2 .block-inner-1 .block-inner-2{
   background: url("images/textosemconsulta.gif") no-repeat scroll left top transparent;
   margin-left: -14px;
}

#content .box-2  .block-inner-2 .block-title{
   background: url("images/textosemconsulta-canto.gif") no-repeat scroll left 44px transparent;
   height: 62px;
   position: relative;
   margin-bottom: 0;
   border-bottom: 0 none;
  z-index: 9;
}


#content .box-2  .block-inner-2 .block-title span {
   color: white;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
   padding-left: 20px;
   padding-top: 7px;
   position: relative;
}

#content .box-2  .block-inner-2 li{
  list-style: none;
}

#content .box-2 .block a {
    color: #004A9E;
}

/*
#content .box-2 .feed-reader-block li, .recent-documents-block li{
	list-style: none;
	text-indent: 10px;
}
*/

.box-1 .blocks {
  background-color: #f7f7f7;
  padding: 0px;
  margin: 0px;
}

#theme-footer {
  background-color: #ffffff;
}

#wrap-2 {
  border: 0px;
}

#footer-links,
#copyright,
#theme-footer #language-chooser  {
  padding: 5px 10px;
}

#copyright p {
  margin: 0;
}


/*
 * Specific article style
 */

#article-tags{
 text-align: left;
 color: black;
}

/*
 * Specific blocks style
 */

/*FIXME verificar se pode usar .block-footer-content diretamente*/
#content .tags-block .block-footer-content,
#content .people-block .block-footer-content,
#content .profile-list-block .block-footer-content,
#content .enterprises-block .block-footer-content,
#content .members-block .block-footer-content,
#content .communities-block .block-footer-content,
#content .friends-block .block-footer-content{

  position: relative;
  bottom: 4px;
  width: 70px;
  right: 0px;
  font-size: 11px;
  color: #000;
  z-index: 10;
  text-decoration: none;
  padding-right: 15px;
  background-color: red;
/*  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;*/
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  font-size: 11px;
  color: #000;
  text-decoration: none;
  padding-right: 15px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

/* Plugin para curtir artigos e comentÃ¡rios */

.action .dislike:before {
  content: url(images/negative-hand.png);
}

.action .like:before {
  content: url(images/positive-hand.png);
}

.vote-action .like-action-active .action-icon {
  opacity: 1;
}

.vote-action .action-icon {
  opacity: 0.5;
}

#article .action .action-icon {
  top: 3px;
}

#article .like-action .like-action-counter {
  color: #2A8C32;
}

#article .dislike-action .like-action-counter {
  color: #CC0000;
}

.vote-actions {
  position: relative;
  right: 0;
  top: 0;
}

/* PopUp Login*/

#colorbox {
  left: -350px !important;
  margin-left: 50% !important;
  width: 700px !important;
}

#cboxWrapper {
    padding: 15px;
    position: relative;
    width: auto !important;
  /* height: auto !important;*/
}

#cboxContent{
  float: none !important;
  width: auto !important;
  height: auto !important;
  padding: 20px;
}

#cboxLoadedContent{
  width: auto !important;
  height: auto !important;
}

#colorbox .login-box .button-bar a.icon-close{
  width: auto !important;
}

#cboxMiddleLeft{
   float: none !important;
   height: auto !important;
}

#cboxTopCenter {
  height: auto !important;
}

#colorbox .login-box{
	width: 100%;
   background: url("images/img_login_popUp.png") no-repeat scroll 90% 50% #FFFFFF;
}

#colorbox .login-box h2{
    background: url("images/bg-titulo-login.png") no-repeat scroll 70px 7px #FFFFFF;
    color: #757575;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    width: 45%;
}

#colorbox .login-box form {
    margin: 0;
    width: 45%;
    /*background: url("images/img_login_popUp.png") no-repeat scroll 70% 30% #FFFFFF;*/
}

#colorbox .login-box .formfieldline input {
	width: 95%;
}

#colorbox .login-box .button-bar input.icon-login {
    background: url("images/btn_entrar_login.png") no-repeat scroll 0 0 #FFFFFF;
    border: 0px none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px !important;
    max-height: 50px !important;
    padding: 0;
    text-transform: uppercase;
    width: 145px;
	 cursor: pointer;
}

#colorbox .login-box .button-bar input.icon-login:hover {
	background-image: url("images/btn_entrar_login_hover.png");
}

#colorbox .login-box .button-bar a.icon-close {
  /*background: url("images/btn_cancelar_login.png") repeat-x scroll 0 0 #FFFFFF;*/
    background-color: #FCE9E8;
    background-image: none;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #CE5E5E;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 14px 13px 0;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
}
#colorbox .login-box .button-bar a.icon-close:hover {
	background-color: #FFD1CF;
}

#colorbox .login-box .button-bar input.submit,
#colorbox .login-box .button-bar a.icon-close {
    border: 0px none;
}

#colorbox .login-box .button-bar {
    float: none;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}

#colorbox .login-box .button-bar .icon-add{
    background-image: none;
    color: #004B82;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 75px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -3em;
    width: 30%;
}

#colorbox .login-box .button-bar .icon-help{

}

#colorbox .login-box form .button-bar {
	float: none;
	width: 100%
}

#colorbox .login-box .button-bar a.button.icon-help,
#colorbox .login-box .button-bar a.button.icon-add {
  display: none;
}

/*Modificações*/

html {background-image: none;background-color: #ddd;}

#navigation,
#navigation-control,
#profile-header,
#site-title {display: none;}


#wrap-2 {background-image: none;background-color: rgba(0, 0, 0, 0);}

#content {margin-top: 10px;}
#content .box-1 {margin-left: 262px;}
#content .box-2 {margin-left: 0px;}
#content .box-2 .block-inner-1 .block-inner-2 {background-image: none;margin-left: 0;}
#content .box-2 .block-inner-2 .block-title {background-image: none;}
.box-1 .blocks {background-color: rgba(0, 0, 0, 0);}

#content .box-2 .block-inner-2 .block-title span {color:#0050A5;}

#content .main-block h1, #not-found h1, #access-denied h1{font-variant: normal;}

#content .block-title {font-variant: normal;}

#content .box-2 {background-color: rgba(0, 0, 0, 0);}

#content .box-2 .link-list-block {
padding: 0px;
}


.link-list-block,
.profile-image-block {background-color: #FFF;box-shadow: 2px 2px 4px #CCC;}


#content .box-2 .link-list-block .block-inner-2 h3.block-title {
	height: auto;
	line-height: 10px;
	padding: 20px 0 25px;
	border-bottom: 1px solid #CCC;
	font-size: 14px;
}

#content .box-2 .block-inner-2 h3.block-title:before {
	content: "⌄";
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 10px;
	margin-right: 12px;
}

#content .box-1 .video-plugin_video-block h3.block-title {
	padding-bottom: 1.5em;
}

#content .box-2 .link-list-block h3.block-title span {
}

#content .link-list-block ul {
	border-top: 0px solid #F00;
	padding-right: 0px;
}

#content .link-list-block li {
	background: #EEE;
	padding: 20px 0;
	border: 1px solid #FFF;
	border-width: 0px 1px 1px 1px;
	padding-left: 10px;
	margin: 0;
}

#content .link-list-block li:hover {
	background-color: #9CC8EB;
}

#content .link-list-block li a {
	background-color: rgba(0, 0, 0, 0);
	padding-left: 40px;
	background-position: 15px 50%;
}

.main-content {border-width: 0;border-radius: 0;box-shadow: 2px 2px 4px #CCC;background-color: #FFF;}

#content .box .profile-image-block {
	background-color: #FFF;
	box-shadow: 2px 2px 4px #CCC;
	margin-bottom: 0px;
	padding: 10px 0;
}
#theme-header {
	background-image: none;
	background-color: #0050A5;
	color: #FFF;
	font-size: 150%;
	padding-left: 10px;
	padding-top: 10px;
	height: 34px;
	font-family: 'Open Sans', sans-serif;
}

/*#theme-header:before {
	content: "";
	display: inline-block;
	width: 20px;
	margin-right: 10px;
	height: 2px;
	background-color: #fff;
	vertical-align: baseline;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 4px 0;
	background-clip: content-box;
	margin-right: 20px;
	margin-top: 4px;
}

#theme-header:after {
content: "Planejamento Estratégico";
color: #FFF;
position: relative;
top: -44px;
left: 50px;
}
*/

#user {top: -30px;}

#content .link-list-block li a {border-radius: 0px;}

#content .link-list-block li a.link-this-page {
	background-color: rgba(0, 0, 0, 0);
	border-right: 0px;
	border-left: 2px solid #9CC8EB;
	width: auto;
	border-radius: 0px;
}

#content .link-list-block li a.link-this-page:hover {
	border-left: 2px solid #eee;
	border-right: 0px;
	border-radius: 0px;}

#content .link-list-block li a:hover {
	background-color: #EEE;
	color: #333;
	border-left: 0px none;
}

#content .link-list-block ul {
padding-left: 0px;
}


/*Dentro do Main Block*/

#wrap-1, #theme-footer {
width: 100%;
}

#wrap-2 {
	width: 960px;
	margin: auto;
}

#content .block h3.block-title {
font-size: 20px;
}

#content .main-block h1, #not-found h1, #access-denied h1 {
		border-bottom: 0 solid #2E3436;
    color: #0050A5;
    font-variant: small-caps;
    text-align: left;
}

#article-header:before {
    background-color: #0050A5;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    top: 40px;
    width: 50px;
}

#content .box-1 .block h3.block-title {
		border-bottom: 0 solid #2E3436;
    color: #0050A5;
    font-variant: small-caps;
    text-align: left;
		padding-left: 20px;
}

#content .box-1 .block h3.block-title:before {
	content: "";
	display: block;
	background-color: #0050A5;
	height: 2px;
	width: 50px;
	position: relative;
	top: 30px;
}

#content .main-block .publishing-info,
#article-sub-header {display: none;}

#article-toolbar {margin-bottom: 20px;}
.comment_paragraph {
    background-color: #eee;
    display: table-cell;
    padding: 10px;
    width: 97%;
}

#article-parent .icon-back {
    display: none;
    visibility: hidden;
}

#content .box-1 .block {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px #CCCCCC;
}

#content .video-plugin_video-block {
    background-color: #FFFFFF;
    display: block;
    margin: 1em 0;
    padding: 1.5em;
}

#content .box-1 .block-outer .block.breadcrumbs-plugin_content-breadcrumbs-block {
    margin-bottom: 0;
    padding: 1em 2em;
}


#content .box-1 .block-outer .block {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px #CCCCCC;
		margin-bottom: 20px;
}

#content .box-1 .block-outer .raw-html-block {
	padding-bottom: 20px;
}

#content .block.site-tour-plugin_tour-block {
  margin-top: 2em;
}

.breadcrumbs-plugin_content-breadcrumbs-block .section-name {
	display: none;
}

.profile-image-block .profile-info-options,
.profile-image-block .admin-link {
	display: none;
}

/*a barra azul de cima é 100% - as informações ficam no centro*/

.tiny-mce-article .article-body h2 span {
	font-weight: normal;
	color: #666;
	font-size: 18px !important;
}

.article-body-tiny-mce-article .comment-paragraph-plugin span {
color: #666;
}

.article-body .comment-paragraph-plugin span {
color: #666;
font-size: 10px;
}

.pe_btn_interno {
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	font-weight: bold;
	margin: 0 20px;
}

.pe_btn_cinza {
	background-color: #ccc;
	color: #666;
}

.pe_btn_azul {
	background-color: #0050A5;
	color: #FFF;
}


/*PairWaise*/

#pairwise_main {text-align: left;}

.pairwise-plugin_pairwise-content #article-header:before {
width: 0;
}

#pairwise_main .pairwise_content {
background-color: #EEE;
padding: 1em;
overflow: hidden;
border-top: 1px solid #9CC8EB;
border-bottom: 0px solid #9CC8EB;
}

#pairwise_main ul.pairwise_menu li a {
color: #0050A5;
font-size: 14px;
padding: 1em;
text-decoration: none;
}

#pairwise_main ul.pairwise_menu li a.active {
color: #FFF;
background-color: #0050A5;
border-radius: 0;
border: 1px solid #0050A5;
border-bottom: 0px;
padding-bottom: 12px;
}

#pairwise_main ul.pairwise_menu li a:hover {
color: #FFF;
background-color: #9CC8EB;
border-radius: 0;
border: 1px solid #9CC8EB;
border-bottom: 0px;
margin: -1px;
}


#pairwise_main .pairwise_body {
background-color: #EEE;
	border-radius: 0;
	display: block;
	font-size: 14px;
	margin: 0 0 0.5em;
	color: #0050A5;
	text-align: left;
	padding-left: 20px;
}

#pairwise_main .pairwise_call_for_action {
color: #666;
}


#pairwise_main .pairwise_content {
background-color: #EEE;
padding: 1em;
overflow: hidden;
border-top: 1px solid #9CC8EB;
border-bottom: 0px solid #9CC8EB;
}

#pairwise_main div.prompt {
	background: #FFF;
	border-width: 0px;
	max-width: 369px;
	height: 250px !important;
	padding: 10px 0;
	border-width: 0 !important;
	border-radius: 0;
	position: relative;
	box-shadow: 2px 2px 4px #CCC;
}

/*#pairwise_main div.prompt:before {
content: "";
display: block;
width: 100%;
height: 50px;
background: #0050A5;
margin-top: -10px;
margin-bottom: 10px;
}*/

#pairwise_main .separator {background-color: #EEE;}

#pairwise_main .prompt a.vote-link {
	text-decoration: none;
	color: #635800 !important;
	font-weight: normal;
	line-height: 1em;
	font-size: 18px;
	display: block;
	padding: 10px;
	width: 100px;
	height: 21px;
	background-color: #FFCC01;
	position: absolute;
	bottom: 10px;
	left: -60px;
	border-radius: 20px;
	margin-left: 50%;
	margin-right: auto;
}

#pairwise_main .prompt a.vote-link:hover {
	background-color: #635800 !important;
	color: #FFCC01 !important;
}

#pairwise_main .prompt .choice-text {
	color: #666;
	font-size: 14px;
	padding: 0 10px;
}

#pairwise_main #suggestions_box span {
	color: #0050A5;
}

#pairwise_main div.skip_vote {
	width: 100% !important;
	float: none;
	min-height: 18px;
	height: auto;
	padding: 0;
	word-wrap: break-word;
	font-size: 12pt;
	vertical-align: top;
	margin-top: 0;
	margin-left: 0;
	background-color: #EEE !important;
	text-align: center;
	display: block;
	border-radius: 0px;
	overflow: hidden;
	border-bottom: 1px solid #9CC8EB;
}

#pairwise_main div.skip_vote a {
color: #666;
text-decoration: none;
width: 150px;
display: block;
height: auto;
padding: 20px 0;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
border: 2px solid #CCC;
text-transform: uppercase;
border-radius: 20px;
margin-bottom: 20px;
font-weight: bold;
font-size: 14px;
}

#pairwise_main div.skip_vote a:hover {
	text-decoration: none;
	width: 150px;
}


.profile-homepage .main-block a#fullscreen-btn {
display: none !important;
}


span.p_e_btn_perspectivas {
	display: inline-block;
	background: #FFCC01;
	margin-right: 10px;
	padding: 15px 20px 20px;
	text-align: left;
	margin-bottom: 10px;
	width: 160px;
	color: #635800;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	vertical-align: top;
}

span.p_e_btn_perspectivas:before {
	content: "SAIBA MAIS";
	width: auto;
	font-size: 8px;
	display: block;
	position: relative;
	top: -8px;
	font-weight: normal;

}

#article a.p_e_btn_links {
text-decoration: none !important;
text-align: left !important;
display: inline-block;
overflow: hidden;
}

#article {
text-align: left !important;
}

#content .link-list-block li a:hover {background-color: #9CC8EB;color: #333;}

/*

#content .box .profile-image-block {
background-color: #FFF;
box-shadow: 2px 2px 4px #CCC;
margin-bottom: 0px;
padding: 10px 0;
background: url("http://planejamento.serpro/image_uploads/public/0001/2397/logo_p_e_2016_big.jpg") no-repeat center center #FFF;
}

.profile-big-image img {
border: none;
padding: 0px;
display: none;
width: 240px;
}

*/

#suggestions_box_not_logged > a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #0050A5;
  padding-top: 10px;
  display: inline-block;
}

#suggestions_box_not_logged > a::after {
  content: "Clique Aqui";
  text-decoration: underline;
  padding-left: 5px;
}

