#user {
   color: white;
   position: absolute;
   right: 10px;
   text-align: right;
   top: -25px;
   z-index: 10;
}

#user a i{
	left: -20px;
}

#user,
#user a,
#user a:hover,
#user a:visited,
#user a strong {
   color: white;
   text-decoration: none;
}

